.home-detail-page-container{
    min-height: 100vh;
}
.pics-and-basics-container{
    display: flex;
    justify-content: center;
}

.description-and-bedroom-pricing-container{
    display: flex;
    justify-content: center;
}