.banner{
    background-image: url('../../assets/image-banner.png');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 40vh;
    color: white;
}

.banner p{
    width: 700px;
}